.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap:2rem;
    justify-content: center;
}

.main_header{
    position: relative;
    width: 100%;
    padding-bottom: 24px;
}

.container{
    width:100%;
    padding-right:30px;
    padding-left:30px;
    margin-right:auto;
    margin-left:auto
}

.titulo{  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    line-height: 36px;

    color: #413692;
}

.logo{
    position: relative;
    height: 46px;
}

.row{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px
}

.searchBar{
    margin-top: 20px;
    margin-bottom: 5px;
}

