@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
/* Color variables */
/* border radius */
 *, *::before, *::after {
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0;
}
 body {
	 font-family: Oxygen, sans-serif;
	 margin: 2rem;
}
 .card {
	 overflow: hidden;
	 box-shadow: 0 2px 20px #e1e5ee;
	 border-radius: 0.2rem;
	 display: flex;
	 flex-direction: column;
	 justify-content: space-between;
	 transition: transform 200ms ease-in;
}
 .card__image {
	 height: 12rem;
	 width: 100%;
	 object-fit: cover;
}
 .card__title {
	 padding: 1rem;
}
 .card__description {
	 padding: 0 1rem;
}
 .card__btn {
	 padding: 1rem;
	 font-family: inherit;
	 font-weight: bold;
	 font-size: 1rem;
	 margin: 1rem;
	 border: 2px solid #413692;
	 background-color: transparent;
	 color: #413692;
	 border-radius: 0.2rem;
}
 .card:hover {
	 transform: scale(1.02);
}
 .card .card__btn:hover {
	 background: #413692;
	 cursor: pointer;
	 color: white;
	 transition: background 200ms easy-in, color 200ms ease-in;
}
 