@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

.modalBoxPaper {
    padding: 15px;
    padding-top: 20px;
    width: 400px;
    height: fit-content;
}

.modalBoxPaper > div {
    font-family: Oxygen, sans-serif;
}

.modalTitle {
    display: flex;
    align-items: top;
    padding: 5px;
    margin: 5px;
    margin-bottom: 15px;
}

.modalTitle > div {
    margin-left: 15px;
}

.modalContent{
    margin: 10px;
}

.modalButton{
    align-self: center;
    margin: 10px;
}