.main_header{
  position: relative;
  width: 100%;
  padding-bottom: 24px;
}

.container{
  width:100%;
  padding-right:30px;
  padding-left:30px;
  margin-right:auto;
  margin-left:auto
}

.titulo{  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 36px;

  color: #413692;
}

.logo{
  position: relative;
  height: 46px;
}

.row{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-right:-15px;
  margin-left:-15px
}

.profileInfoContainer {
  width: 100%;
  margin: 28px 0;
}

.profileInfo {
  display: flex;
  align-items: flex-start;
  padding: 40px 0;
}

.profilePhoto {
  padding: 0 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.profilePhotoImg {
  width: 216px;
  height: 216px;
  border-radius: 16px;
  background-image: url("https://lh3.googleusercontent.com/a-/AOh14Gjgv7wlS-FawwVUCGxVO1MMHkfiTqFl5DCLV2PXQg=s240-p-k-rw-no");
  background-size: cover;
  background-position: center;
}

.profileText {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.professorName {
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  margin-bottom: 13px;
}

.professorTitle {
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #4F4F4F;
  margin-bottom: 19px;
}

.professorFields {
  display: flex;

}

.professorFields p {
  height: 19px;
  border-radius: 8px;
  padding: 3px 12px;
  background: #E8DEF8;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.1px;
  text-align: center;
  color: #49454F;
  margin-right: 10px;
}

.researchesContainer{
  margin: 0 40px;
  padding: 25px 0;
}

.researchesContainerTitle {
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
  color: #4F4F4F;  
  margin-bottom: 53px;
}

.researchesCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap:2rem;
}