@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

.modalBoxPaper{
    width: 388px;
    height: 419px;
}

.modalTitle {

    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 127%;
    /* or 127% */

    text-align: center;
}
